name: Generate Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'backend/src/grapycal/**'
      - 'backend/docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'
    - name: Install Poetry
      run: pip install poetry
    - name: Install dependencies
      run: |
        cd backend
        poetry config virtualenvs.create true
        poetry config virtualenvs.in-project true
        
        poetry add furo "setuptools<70.0.0"
        poetry install
    - name: Generate documentation
      run: |
        cd backend/docs
        poetry run python extension_docgen/gen.py
        poetry run make html
        touch build/html/.nojekyll
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./backend/docs/build/html